.signup {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32em;
    height: fit-content;
}

.signup ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.signup label input {
    margin: 10px;
    width: 30em;
}

.signup button{
    align-self: center;
}
