.single-comment{
    display: flex;
    flex-direction: row;
    max-height: 85px;
}

.single-comment img {
    align-self:  center;
    max-width: 50px;
    max-height: 50px;
    background-color:  white;
    border-radius: 50%
}

.comment-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-username{
    font-size: 14px;
}
