.edit-song{
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit-form{
    width: 60%;
    display: flex;
    flex-direction: column;
}

#edit-song-label{
    align-self: center;
    font-size: 2em;
    padding: 20px;
}
