.song-pic {
    align-self: center;
    object-fit: cover;
    width: 165px;
    height: 165px;
    border: 1px solid rgba(211, 211, 211, 0.5);
}

.song-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.song-card {
    display: flex;
    flex-direction: column;
    max-width: 11em;
    /* background-color: grey; */
    padding: 5px;
    margin: 10px;
    border-radius: 4px;
}

.play-song{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    background-color: rgba(255, 174, 0, 0.247);
    max-width: 165px;
    height: 165px;
}

.play-song img{
    object-fit: contain;
    max-width: 30%;
}

.song-card:hover .play-song{
    visibility: visible;
    opacity: 1;
}

.song-link{
    align-self: center;
    color: rgb(63, 63, 63);
    text-decoration: none;
    font-weight: 900;
    width: 165px;
}

.song-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 8px;
}

#treasure-trove{
    padding-left: 15px;
}
