.landing-page{
    width: 100%
}

.top-box,
.bottom-box {
    width: 100%;
    position: relative;
    text-align: center;
}

.top-box img,
.bottom-box img{
    width: 100%
}

.box-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.promo-box {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.promo-box i{
    margin-left: 5px;
    margin-right: 5px;
}

.top-box-text h1 {
    font-weight: lighter;
    font-size: 3em;
}

.box-text button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    height: 3.2em;
    background-color: #F26F23;
    color: white;
    font-weight: bolder;
}

#linkedin{
    color: #0E76A8;
}

#github{
    color: #171515
}

#name{
    margin-top: -5px;
    margin-bottom: 40px;
}

.landing-page h3{
    font-weight: 600;
}
