/* TODO Add site wide styles */
.bungus{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bingus{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    max-width: 75%;
    background-color: lightgrey;
}
