/* TODO Add site wide styles */
.bungus{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}

.bingus{
    display: flex;
    flex-flow: column;
    max-width: 75%;
    background-color: grey;
}
