.artist-card{
    display: flex;
}

.artist-pic{
    object-fit: cover;
    width:165px;
    height:165px;
    border: 1px solid rgba(211, 211, 211, 0.5);
}

.artist-text{
    text-decoration: none;
}

.artist-username{
    margin: 0;
    margin-top: 8px;
    padding-left: 10px;
    font-size: 1.6em;
    font-weight: 900;
    color: black;
}

 .artist-realname{
    padding-left: 10px;
    font-weight: 900;
    color: black;
 }
