.artist-card{
    display: flex;
}

.artist-pic{
    object-fit: cover;
    width:165px;
    height:165px;
    border: 1px solid rgba(211, 211, 211, 0.5);
}

.artist-text{
    text-decoration: none;
}
