.user-banner{
    display: flex;
    flex-direction: row;
    background-color: rgb(82, 82, 82);
    width: 100%
}

.profile-pic{
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin: 25px;
}

.profile-info{
    margin-left: 10px;
}
 .profile-info h2,
 .profile-info h4 {
    color: white;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.445);
 }

 .song-card-profile{
    display: flex;
    margin-left: 20px;
 }

 .profile-play{
    display: flex;
 }

 .profile-play img{
    object-fit: cover;
    height: 80px;
    width: 80px
 }

.song-link-profile {
    font-size: 1.6em;
    font-weight: 900;
    text-decoration: none;
}

 .profile-song-info{
    display: flex;
 }

 .artist-details-songs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 20px;
 }
