* {
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login label input {
    margin-left: 5px;
}
