.link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 65px;
    z-index: 10000;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.link-list {
    padding-inline-start: 0;
    width: 1240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 900;
    color: white
}

.link-list img {
    filter: invert(100%);
    width: 3.4em;
}

.music-button{
    margin-left: 20px;
}

.right,
.left {
    display: flex;
}

.butts {
    display: flex;
    flex-direction: row;
}

.profile-junk {
    display: flex;
    flex-direction: column;
}

.profile-dropdown {
    background-color: white;
    position: absolute;
    top: 65px;
    right: 340px;
    border: rgb(88, 88, 88) 1px solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display:flex;
    flex-direction: column;
    text-align: left;
    padding-top: 5px;
}

.profile-dropdown hr{
    width: 100%;
}

.profile-dropdown p{
    padding: 10px;
    margin: 0;
}

.profile-dropdown button{
    background-color: #F26F23;
}

.right button {
    justify-self: center;
    align-self: center;
    height: 50%;
    border-radius: 4px;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-dropdown button{
    height: 2vw;
    border: none;
    font-size: 1.4em;
    margin-bottom:5px;
}

.login-button {
    background-color: rgba(255, 255, 255, 0);
    border: white solid 1px;
}

.user-pic{
    color: white;
    font-weight: 900;
    background-color: #F26F23;
    margin-right: 20px;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
}

.signup-button {
    background-color: #F26F23;
    border: none;
}

.add-song-butt{
    font-weight: 900;
}

.left{
    margin-left: 10px;
}

.right{
    margin-right: 10px;
}

.search{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.search-bar{
    background-color: white;
    border-radius: 4px;
}

.search-field{
    border-radius: 4px;
    width: 500px;
    padding: 8px;
    border: none;
}

.search button{
    background: none;
    border: none;
    align-self: center;
}

.search-bar i{
    font-size: 1.2em;
    justify-self: center;
}

.search-results{
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65px;
    width: 546px;
    background-color: black;
}

.search-results-header{
    margin: 0px;
    padding:10px;
    background-color: rgb(49,49,49);
}

.search-result{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.search-result:hover {
    background-color: rgb(49, 49, 49);
}
